__pycache__/
*.pyc
*.pyo
generated_outputs/*.txt
generated_outputs/*.png
generated_outputs/*.jpg
.env
*.log
.DS_Store
.fsc/
api-key.txt
# Kivy build files
*.egg
*.apk
*.arm64-v8a
bin/
dist/
buildozer/